<div class="container">

  <!-- Ng Model 
  <mat-card> 
    <mat-card-header>
      <mat-card-title>Cadastre-se</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form action="#" 
      id="main-form" 
      (ngSubmit)="submit()"
      #form="ngForm"
      
      >
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label> Nome </mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Seu nome"
            [(ngModel)]="name"
            name="name"
            autocomplete="false"
            required
            minlength="3"
            #inputName="ngModel"
            >
            <mat-error *ngIf="inputName.invalid">
              <span *ngIf="inputName.errors?.['minlength']">
                Você não colocou a quantidade de caracteres minímos
              </span>
              <span *ngIf="inputName.errors?.['required']">
                Este campo é obrigatório
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label> Sobrenome </mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Seu sobrenome"
            [(ngModel)]="lastName"
            name="lastName"
            autocomplete="false"
            required
            minlength="3"
            #inputlastName="ngModel"
            >
            <mat-error>
              <span *ngIf="inputlastName.errors?.['required']">
                Este campo é obrigatório
              </span>
              <span *ngIf="inputlastName.errors?.['minlength']">
                Mínimo de 2 caracters
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-row col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label> email </mat-label>
            <input 
            type="email" 
            matInput 
            placeholder="email@email.com"
            [(ngModel)]="email"
            name="email"
            autocomplete="false"
            required
            minlength="8"
            email
            #inputEmail="ngModel"
            >
            <mat-error>
              <span *ngIf="inputEmail.errors?.['required']">
                Este campo é obrigatério
              </span>
              <span *ngIf="inputEmail.errors?.['minlength']">
                mínimo de 8 caracteres
              </span>
              <span *ngIf="inputEmail.errors?.['email']">
                Você não digitou um e-mail
              </span>

            </mat-error>
          </mat-form-field>

        </div>

        <div class="form-row col">
         <button mat-raised-button 
         type="submit" 
         color="accent" 
         class="grow"
         [disabled]="form.invalid"
         > 
         Cadastrar</button>

        </div>

      </form>
    </mat-card-content>
  </mat-card>-->

  <!-- Form Control
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastre-se</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form 
      action="#" 
      id="main-form" 
      (ngSubmit)="submit()"
      >
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Seu Nome"
            [formControl]="name"
            >           
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Sobrenome</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Seu Sobrenome"
            [formControl]="lastName"
            >
          </mat-form-field>
        
        </div>

        <div class="form-row col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>E-mail</mat-label>
            <input 
            type="email" 
            matInput 
            placeholder="Email"
            [formControl]="email"
            >
          </mat-form-field>
        </div>

        <div class="form-row col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Selecione seu sexo</mat-label>
            <mat-select
            [formControl]="sex"
            >
            <mat-option value="M">
              Masculino
            </mat-option>
            <mat-option value="F">
              Feminino
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>


        <div class="form-row col">
          <button 
          mat-raised-button 
          type="submit" 
          color="accent" 
          class="grow"
          >
          Cadastrar</button>
        </div>

      </form>
    </mat-card-content>

  </mat-card> -->

  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastre-se</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form 
      action="#" 
      id="main-form" 
      (ngSubmit)="submit()"
      [formGroup]="personalData"
      >
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Seu Nome"
            formControlName="name"
            >           
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Sobrenome</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Seu Sobrenome"
            formControlName="lastName"
            >
          </mat-form-field>
        
        </div>

        <div class="form-row col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>E-mail</mat-label>
            <input 
            type="email" 
            matInput 
            placeholder="Email"
            formControlName="email"
            >
          </mat-form-field>
        </div>

        <div class="form-row col">
          <mat-form-field 
          appearance="fill" 
          class="grow"
          >
            <mat-label>Selecione seu sexo</mat-label>
            <mat-select
            formControlName="sex"
            >
            <mat-option value="M">
              Masculino
            </mat-option>
            <mat-option value="F">
              Feminino
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>


        <div class="form-row col">
          <button 
          mat-raised-button 
          type="submit" 
          color="accent" 
          class="grow"
          >
          Cadastrar</button>
        </div>

      </form>
    </mat-card-content>

  </mat-card>

</div>


